# Dependencies
node_modules
.pnp
.pnp.js

# Testing & Scratch
coverage
scratch/*.log

# Production build
dist
dist-ssr
*.local

# Environment variables
.env.local
.env.*.local

# Vercel
.vercel

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
